<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/Error500.aspx" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error404.aspx" />
      <error statusCode="500" redirect="~/Error500.aspx" />
    </customErrors>
    <trace enabled="false" xdt:Transform="SetAttributes(enabled)" />
  </system.web>
</configuration>
